body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.project-details, .legend {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #E0E0E0;
}

.project-details-container, .legend-container {
  padding-left: 20px;
}

.project-details-title {
  margin-top: 0px;
}

.legend-title {
  margin-bottom: 0px;
 }

.skill_label {
/*  margin-top: 0px;
  margin-bottom: 0px;*/
 }

@media (min-width: 992px) {
    .modal-lg {
        width: 90%;
        height: 900px;
        margin-left: 5%;
        margin-right: 5%;
    }
}


span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.dropdown-menu-custom {
    background-color: #222;
    color: #9d9d9d;
    font-weight: bold;
}

span.dropdown-menu-custom-item {
    color: #9d9d9d;
    font-weight: bold;
}

.dropdown-menu-custom>li>a:focus, .dropdown-menu-custom>li>a:hover {
    background-color: #222;
}



a.dropdown-menu-custom:hover .dropdown-menu-custom-item {
    color: white;
    background-color: #222;
}

